{% extends 'layout.html' %} 

{% block content %}
<style>
    body {
      background-image: url('https://images.unsplash.com/photo-1711062717294-8902df8cebe3?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    }
</style>

<div class="centered-content">
    <h1 style="color: white; font-size: 4rem; text-align: center;">About Zeki</h1>
    <p style="color: white; font-size: 1.5rem; text-align: center; line-height: 1.6; max-width: 80%; margin: auto;">
        'Zeki' is a Turkish word derived from Arabic, meaning 'smart'. A powerful study 
        tool to make your study sessions efficient. Zeki creates personalized study timings 
        for you by taking into account your sleep, your mood, and work hours. It allows you to 
        create a list of everyday tasks to stay on top of your deadlines.
    </p>
</div>

{% endblock %}
